@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: rgb(48, 47, 47);
    
}

.section-p {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
}

.section-p2 {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(48, 47, 47);
}

.section-p3 {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(48, 47, 47);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: #f5c833;
    background: transparent;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}



header ul li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
    

}

header ul li a:hover {
    transform: translateY(-5px);
    color: rgb(255, 255, 255);
    
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.content .textBox {
    position: relative;
    max-width: 650px;
}

.content .textBox h2 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #f5c833;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #000000;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}

.content .textBox a:hover {
    background: rgb(255, 255, 255);
    transform: translateY(-5px);
    color: black;
    font-weight: 600;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
    transform: scale(1);
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    background: transparent;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    
    
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: burlywood;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform:scale(0.6);
    filter: invert(1);
    transition: 0.5s;

}

.sci li a:hover {
    filter: invert(0);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#a42d2d;
}


.div1 {
    width: 400px;
    height: 760px;
    background: #a42d2d;
    border-radius: 50px;
    position: relative;
    display: flex;
    transition: 0.5s;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .8);
}

.div2 {
    width: 400px;
    height: 760px;
    background: #3485ff;
    border-radius: 50px;
    position: relative;
    display: flex;
    transition: 0.5s;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .8);
}

.div3 {
    width: 400px;
    height: 760px;
    background: #57b84e;
    border-radius: 50px;
    position: relative;
    display: flex;
    transition: 0.5s;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .8);
    
}

.ironman {
    max-width: 200px;
    max-height: 200px;
    transform: scale(3.4);
    padding-left: 85px;
    padding-top: 70px;
    background: transparent;
}

.div1:hover {
    transform: translateY(-5px);
    background: #f5c833;
    color: black;
}

.div2:hover {
    transform: translateY(-5px);
    background: white;
    color: black;
}

.div3:hover {
    transform: translateY(-5px);
    background: #8626d5;
    color: black;
}

.h2A {
    padding-left: 20px;
    padding-top: 50px;
}

.ironmanBox {
    position: relative;
}

.div1 p {
    font-weight: 600;
    padding-left: 20px;
    padding-top: 50px;
}

.americaBox {
    position: relative;
    
}

.captain {
    max-width: 200px;
    max-height: 200px;
    transform: scale(3);
    padding-top:75px;
    padding-left: 70px;
}

.h2captain {
    padding-left: 20px;
    font-weight: 600;
    padding-top: 50px;
}

.div2 p {
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 600;
}

.hulk {
    padding-top: 90px;
    max-width: 310px;
    max-height: 310px;
    transform: scale(2);
}

.h2hulk {
    padding-left: 20px;
    padding-top: 50px;
    
}

.div3 p {
    padding-left: 20px;
    padding-top: 50px;
    font-weight: 600;
    
}

.h2super {
    color: red;
}

.formext {
    width: 1000px;
    height: 710px;
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    padding: 30px 50px;
    margin-top: 0px;
    border-radius: 15px;
    margin-left: 350px;
    margin-bottom: 50px;

}

.form__group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form__label {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.form__input {
    font-size: 16px;
    font-family: inherit;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid transparent;
    width: 100%;
    transition: all 0.3s;
}

.form__input::-webkit-input-placeholder {
    color: #000000;
    transform: translateY(4px);
}

.form__input:focus::-webkit-input-placeholder {
    visibility: hidden;
    opacity: 0;
}

.form__input:focus {
    outline: none;
    border-bottom: 4px solid #a42d2d;
    width: 66.6666%;
    transition: all 0.3s;
}

.form__input:focus:invalid {
    border-bottom: 4px solid #ff0000;
}

.form__input:focus + .form__label {
    opacity: 1;
    font-size: 20px;
}

.form__message,
.form__message .message__input {
    width: 100%;
}

.submitBtn {
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 20px auto;
    font-size: 25px;
    font-family: inherit;
    color:#000000;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submitBtn:hover {
    transform: translateY(-5px);
    color: white;
    font-weight: 600;
    background: black;
}
.submitBtn:active {
    transform: scale(0.98) translateY(1px);
}

.title-title-1 {
    color: rgb(255, 0, 0);
    padding-bottom: 30px;
}

.section-p2 header a:hover {
    color: red;
}

.section-p3 header a:hover {
    color: red;
}

.acceuil {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); ;
    border-radius: 20px;
    height: 300px;
    width: 900px;
    margin-top: -100px;
    transition: 0.5s;
    
}

.acceuil h1 {
    padding-top: 20px;
    padding-left: 20px;
}

.container-media {
    display: flex;
    padding-left: 240px;
    margin: 20px 0 40px 0;
    height: auto;
    width: auto;
    
}

.GIT {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-right: 0px;
    cursor: pointer;
    filter: invert(1);
    padding-left: 180px;
    padding-top: 20px;

}

.icone {
    width: 70px;
    transition: 0.5s;
}

.icone:hover {
    filter: invert(1);
}

.GIT h2 {
    padding-right: 50px;
}

.acceuil:hover {
    background: grey;
    transform: translateX(10px);
}

.div-J {
    display: flex;
    max-width: 800px;
    background: transparent;
    margin-left: 950px;
    padding-left: 20px;
    position: absolute;
    margin-top: -90px;;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: 0.5s;
    padding: 20px 50px;
}

.div-J:hover {
    background: rgb(179, 179, 179);
    transform: translateY(-5px);
    color: black;
}

.merci {
    color: #3485ff;
}








